{% extends 'layout.html' %}

{% block title %}CseD{% endblock %}

{% block body_wrapper %}
    <div id="body-wrapper">
        <header class="clearfix">
            <img id="header-logo" src="{{ url_for('static', filename='assets/codecool-logo.png') }}" alt="Codecool Logo">
            <span id="header-title" class="title">Codecool Series DB</span>
            <div id="header-auth">
                <button type="button" id="bt-register">Register</button>
                <button type="button" id="bt-login">Login</button>
            </div>
        </header>
        {% block section %}{% endblock %}
        <div class="table">
            {% block episodes %}{% endblock %}
        </div>
    <footer>
        Copyright, bla-bla
    </footer>
    </div>
{% endblock %}
{% block background %}
<div class="background">
    <div class="dark-blue-layer"></div>
    <div class="light-blue-layer"></div>
</div>
{% endblock %}
