{% extends 'index.html' %}
{% block title %}Most-rated shows{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='js/most-rated.js') }}" type="module" defer></script>
{% endblock %}
{% block h1 %}Most-rated Shows{% endblock %}
{% block content %}{% endblock %}
{% block table %}
    <table>
        <thead>
            <tr>
                <th header_name="title" direction="">Title</th>
                <th header_name="year" direction="">Release year</th>
                <th header_name="runtime" direction="">Runtime (min)</th>
                <th header_name="rating" direction="DESC">Rating</th>
                <th>Genres</th>
                <th>Trailer</th>
                <th>Homepage</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
{% endblock %}