{% extends 'index.html' %}
{% block script %}
    <script src="{{ url_for('static', filename='js/shows-info.js') }}" defer></script>
{% endblock %}

{% block content %}
    <label for="titles">Titles</label>
    <select id="titles">
        <option data-show-id="false">-- Not Selected --</option>
        {% for selectable in titles %}
            <option data-show-id="{{ selectable.id }}">{{ selectable.title }}</option>
        {% endfor %}
    </select>
    <div class="card"></div>
{% endblock %}