{% extends 'index.html' %}

{% block script %}
    <script src="{{ url_for('static', filename='./js/top10actors.js') }}" type="module" defer></script>
    <script src="https://kit.fontawesome.com/f85f6931c2.js" crossorigin="anonymous"></script>
{% endblock %}
{% block title %}Top 10 Actors{% endblock %}

{% block section %}
    <div class="card">
        <p>Here are the 10 most active actors (they played {{ roles }} characters)</p>
        <ol>
            {% for actor in actor_list %}
                {% if actor.name == actor_list[0]['name'] %}
                    <li>{{ actor.name }} <i class="fa-solid fa-medal"></i></li>
                {% elif actor.name == actor_list[1]['name'] %}
                    <li>{{ actor.name }} <i class="fa-solid fa-medal"></i></li>
                {% elif actor.name == actor_list[2]['name'] %}
                    <li>{{ actor.name }} <i class="fa-solid fa-medal"></i></li>
                {% else %}
                    <li>{{ actor.name }}</li>
                {% endif %}
            {% endfor %}
        </ol>
    </div>
{% endblock %}